/* CONTENEDOR */
.carrusel{
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 22px;
  background-color: var(--thirdary);
}

/* SLIDES */
.slides{
  display:flex;
  height:100%;
  transition:transform 1s ease;
}

.slide{
  min-width:100%;
  height:100%;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* IMAGEN COMO BACKGROUND */
.slide-bg{
  position:absolute;
  left:30px;
  width:50%;
  height:540px;
  border-radius: 12px;

  background-size: cover;
  background-position: center;

  z-index:1;
}

/* OVERLAY OSCURO (para legibilidad) */
.slide-bg::after{
  content:"";
  position:absolute;
  inset:0;
  background: rgba(0,0,0,0.1);
}

.secret {
  display: flex;
  position: relative;
  justify-content: space-around;
  background-color: var(--fourthary);
  color: transparent;
  user-select: none;
}
.secret:hover {
  color: white;
}
/* CONTENIDO */
.slide-content{
  display: flex;
  flex-direction: column;
  position:absolute;
  z-index:2;

  max-width: 650px;
  height: 80%;
  right: 40px;
  padding: 25px;
  justify-content: space-between;

  color: white;
  text-align: left;

  background: rgba(124,124,124,0.6);
  backdrop-filter: blur(20px);
  border-radius: 12px;
}

/* TEXTOS */
.slide-content .periodo{
  display: block;
  width:fit-content;
  font-size: medium;
  margin-bottom: 0;
  height: 1.5rem;
  padding: 0 15px;
  border-radius: 0.7rem;
  background-color: var(--deal);
  color: var(--primary_font);
  font-weight: 500;
}

.slide-content h2{
  margin-bottom:10px;
  font-size: 3rem;
}

.slide-content p{
  margin-bottom:10px;
  font-size: larger;
}

/* PRECIOS */
.precios{
  margin:10px 0;
}

.precio-real{
  text-decoration:line-through;
  color:#ccc;
  font-size: 1.5rem;
}

.precio-desc{
  color:var(--deal);
  font-weight:bold;
  font-size:2rem;
}

/* Actions */
.slide-buttons{
  display: flex;
}

.oferta_button{
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  color: var(--font-primary);
  align-items: center;
  padding-left: 20px;
  font-size: larger;
  text-decoration: none;
  font-weight: 500;
  margin-right: 15px;
}

.oferta_button.wsp{
  width: 51%;
  background-color: var(--wsp);
}

.oferta_button.mail{
  background-color: var(--mail);
}

/* TEST DE LOS DOTSES */
.dots{
  position:absolute;
  bottom:15px;
  width:100%;
  display:flex;
  justify-content:center;
  gap:10px;
  z-index:3;
}

.dot{
  width:40px;
  height:6px;
  background:rgba(255,255,255,0.3);
  overflow:hidden;
  border-radius:3px;
}

.dot-progress{
  height:100%;
  width:0%;
  background:white;
}

.dot.active .dot-progress{
  animation:progress 5s linear forwards;
}

.dot.active .dot-progress{
  animation: progress 5s linear forwards;
}

.promo_container {
  background-color: var(--background-section);
  padding: 50px 17%;
}

.promo_container .content {
  margin-bottom: 30px;
}

.promo_container h1{ 
  font-size: 3rem;
  color: var(--primary);
}
.promo_container p {
  display: flex;
  flex-direction: column;
  font-size: larger;
}

.two_col {
  display: flex;
}

/* MOBILE VERSION */
@media (max-width: 768px) {
  .carrusel {
    height: 500px;
    margin: 0;
    border-radius: 0;
  }

  .slide-bg {
    position:absolute;
    left:0;
    width:100%;
    border-radius: 0px;
    background-size: cover;
    background-position: center;
  }

  .slide-content{
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index:2;

    max-width: 650px;
    height: 80%;
    right: 0;
    bottom: 0;
    padding: 15px;

    border-radius: 0;

    margin-bottom: 35px;
  }

  .slide-content .periodo{
    font-size: 0.75rem;
    margin-bottom: 0;
    align-items: center;
    height: 1.5rem;
    padding-top: 0.2rem;
    background-color: var(--deal);
    color: var(--primary_font);
    font-weight: bold;
  }

  .slide-content h2{
    margin-bottom:5px;
    font-size: 2rem;
  }

  .slide-buttons{
    flex-direction: column;
    gap: 5px;
  }

  .oferta_button.wsp{
    width: auto;
  }

  .two_col {
    display: flex;
    flex-direction: column;
  }

  .precio-real{
    font-size: 1rem;
  }

  .precio-desc{
    color:var(--deal);
    font-weight:bold;
    font-size:1.5rem;
  }

  .promo_container {
    flex-direction: column;
    height: fit-content;
    padding: 0;
    margin-bottom: 50px;
  }

  .promo_container .content {
    padding: 30px 30px 0;
  }
}
